{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'bootstrap-5.0.1-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'board_styles.css' %}">

        <title>My Board</title>
    </head>
    <body>
        <nav>
            <ul class="topnav" id="dropdownclick">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="#boards">Boards</a></li>
                <li class="topnav-right"><a href="#profile">Profile</a></li>
                <li class="topnav-right"><a href="#signup">Sign Up</a></li>
                <li class="topnav-right"><a href="#signin">Sign In</a></li>
            </ul>
        </nav>
        <div class="boards-container">
            <div class="row card-row">
                <div class="card board-card" style="width: 18rem;">
                    <div class="card-body board-card-body" id="toDo">
                        <h5 class="card-title">To Do</h5> 
                        <div class="box"> 
                            <button type="button" class="addcard">&#43; Add a card</button>    
                        </div>
                    </div>
                </div>
                <div class="card board-card" style="width: 18rem;">
                    <div class="card-body board-card-body" id="inProgress">
                        <h5 class="card-title">In Progress</h5>
                        <div class="box"> 
                            <button type="button" class="addcard">&#43; Add a card</button>
                        </div>
                    </div>
                </div>
                <div class="card board-card" style="width: 18rem;">
                    <div class="card-body board-card-body" id="codeReview">
                        <h5 class="card-title">Code review</h5>
                        <div class="box"> 
                            <button type="button" class="addcard">&#43; Add a card</button>
                        </div>
                    </div>
                </div>
                <div class="card board-card" style="width: 18rem;">
                    <div class="card-body board-card-body" id="testing">
                        <h5 class="card-title">Testing</h5>
                        <div class="box"> 
                            <button type="button" class="addcard">&#43; Add a card</button>
                        </div>
                    </div>
                </div>
                <div class="card board-card" style="width: 18rem;">
                    <div class="card-body board-card-body" id="done">
                        <h5 class="card-title">Done</h5>
                        <div class="box"> 
                            <button type="button" class="addcard">&#43; Add a card</button>
                        </div>
                    </div>
                </div>
            <div>
        </div>




        















        
        
        <script type="text/javascript" src="{% static 'static_jquery/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap-5.0.1-dist/js/bootstrap.min.jsN' %}" ></script>
        
        <script>
            $(document).ready(function() {
                var max_cards = 20;
                var card = $(".board-card-body");
                var add_card_button = $(".addcard");


                var x = 0;
                $(add_card_button).click(function(e) {
                    e.preventDefault();

                    if(x <= max_cards) {
                        $(this).parent().hide();
                        $(this).parent().parent().append('<div class="box card-box"><form><div class="pencil-icon">&#128393;</div><div class="form-group"><label for="card-bofy"></label><textarea class="form-control" rows="3" placeholder="Enter card info"></textarea></div><br><button type="button" class="btn crd-btn">Add</button></form></div>');
                        x++;
                    }

                    var card_btn = $(".card-btn");

                    $(card_btn).click(function(e) {
                        e.preventDefault();

                        
                    });



                });

               

            });
        </script>


    </body>
</html>